:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #f2d3ab;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #fbf5ef;
  text-decoration: inherit;
}
a:hover {
  color: #f2d3ab;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
	padding-bottom: 20px;
	margin: auto;
}
h2 {
  font-size: 1.5em;
	margin: auto;
}
h3 {
  font-size: 1em;
	margin: auto;
	padding-bottom: 20px
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

video {
	height: 200px;
	width: 300px;
	margin: auto;
}

.card {
	display: grid;
	grid-template-rows: 1fr 200px 2fr;
  font-weight: 500;
  color: #fbf5ef;
  text-decoration: inherit;
	row-gap: 0px;
	max-width: 300px;
	max-height: 500px;
	padding: 20px;
}

.logo {
	padding: 4px;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	color: #fbf5ef;
	background-color: #494d7e;
	column-gap: 10px;
}

.header {
	color: #fbf5ef;
	background-color: #272744;
}

.app-container {
	min-width: 100%;
	min-height: 200px;
	background-color: #f2d3ab;
}
